html, body {
  margin: 5px;
  padding: 0;
}

.chart-container {
  width: 1000px;
  height:300px;
  padding: 0;
  margin: auto;
  display: block;
}

#app {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
